.racing-container{
    position: relative;
}
.racing-button{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: tomato;
    color: #fff;
    border: none;
    font-size: 20px;
    padding: 10px 20px;
}
.racing-score{
    font-size: 16px;
}