.App{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.info-area{
  width: 100px;
  background-color: aquamarine;
  padding: 15px;
}
.game-area:not(:empty){
  background-color: tomato;
  color: #fff;
  padding: 15px;
  position: relative;
}
.game{
  width: 100%;
  height: 100%;
}
.hidden{
  display: none !important;
}
.no-cursor{
  cursor: none;
}
.router-links{
  margin-bottom: 10px;
  display: flex;
}
.router-links a{
  margin-right: 10px;
  background-color: tomato;
  border: none;
  color: #fff;
  font-size: 18px;
  padding: 5px 10px;
  cursor: pointer;
  text-decoration: none;
  flex-grow: 1;
  text-align: center;
}

.router-links a:hover{
  text-decoration: underline;
}

.start-button{
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -50%);
  background-color: tomato;
  color: #fff;
  border: none;
  font-size: 20px;
  padding: 10px 20px;
}

.game-header{
  display: flex;
  justify-content: space-between;
  position: relative;
  top: -7px;
}

.game{
  background-color: #eee;
}